.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-all-center {
  justify-content: center;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.pt-8 {
  padding-top: 8rem;
}
